{% extends 'base.html' %}
{% block content %}
    <div class="row clearfix"
         style="height:800px;margin-top:150px;background:linear-gradient(to bottom, rgba(27, 101, 185, 0.3), rgba(27, 101, 185, 0));">
        <div class="container" style="">
            <p><strong>1：Glycaemic control and Tarrets</strong></p>
            <p>Glycaemic control is a medical term generally used to describe the
                recommended levels of blood glucose, or blood sugar, for an
                individual.</p>
            <p><img src="{{ url_for('static', filename='/media/APRU血糖管理科普/image1.png') }}"
                    style="width:5.25996in;height:2.00367in"/></p>
            <p><img src="{{ url_for('static', filename='/media/APRU血糖管理科普/image2.png') }}"
                    style="width:5.27749in;height:1.67042in"/></p>
            <p>People with diabetes may have more individualized goals. Most people
                with diabetes will work with their healthcare professional to identify
                the best goals.</p>
            <p><strong>2：Low and High Blood Glucose</strong></p>
            <p>Potential Causes of Low Blood Glucose (Hypoglycaemia)：</p>
            <p>• Taking too much insulin or other diabetes medication</p>
            <p>• Doing more physical activity than anticipated,without eating more
                or adjusting medication</p>
            <p>(for example, reducing the amount insulinnormally taken)</p>
            <p>• Consuming alcohol • Eating less than anticipated or missing a
                meal</p>
            <p>Potential Causes of High Blood Glucose (Hyperglycaemia)：</p>
            <p>• Not taking enough insulin (type 1 diabetes) • Lack of exercise</p>
            <p>• Eating large portions of carbohydrate or foods that cause a rapid
                or considerable rise in blood glucose,without adequate insulin at the
                time</p>
            <p>• Illness, stress, pain, menstruation, all of which release hormones
                that can increase blood glucose</p>
            <p>• Forgetting to take or not taking enough medication to manage blood
                glucose</p>
            <p>• Overtreating an episode of hypoglycaemia</p>
            <p><img src="{{ url_for('static', filename='/media/APRU血糖管理科普/image3.png') }}"
                    style="width:4.58017in;height:1.34604in"/></p>
            <p><strong>3：Signs and Symptoms of Low Blood Glucose</strong></p>
            <p>• Feeling shaky • Being nervous or anxious • Sweating, chills or
                clamminess</p>
            <p>• Irritability or impatience • Confusion • A fast heartbeat • Feeling
                lightheaded</p>
            <p>• Hunger • Nausea • Colour draining from the skin (pallor) • Blurred
                or impaired vision</p>
            <p>• Feeling sleepy, weak or having no energy • Headaches</p>
            <p>• Tingling or numbness in thelips, tongue or cheeks</p>
            <p>• Coordination problems, or clumsiness</p>
            <p>• Restless sleep including nightmares or crying out during sleep</p>
            <p><strong>4：Signs and Symptoms of High Blood Glucose</strong></p>
            <p>• Frequent urination • Increased thirst • Feeling very hungry – even
                though eating enough</p>
            <p>• Extreme fatigue • Blurry vision • Cuts or bruises that are slow to
                heal</p>
            <p>• Dry skin or increased infections</p>
            <p>• For people with type 1 diabetes, weight loss – even though they are
                eating enough</p>
            <p>• And, for people with type 2 diabetes, tingling, pain, or numbness
                in the hands and or feet</p>
            <p><img src="{{ url_for('static', filename='/media/APRU血糖管理科普/image4.png') }}"
                    style="width:5.76806in;height:2.54236in"/></p>
            <p><strong>5：Possible Treatments</strong></p>
            <p>Low Blood Glucose：If blood glucose is below 70 mg/dl or 3.9 mmol/L,
                consider taking one of the following to raise blood glucose</p>
            <p>• Glucose tablets • 150 – 200 ml of fruit juice • 1 tablespoon of
                honey</p>
            <p>• 75 – 100 ml of a sugary drink (e.g., and energy drink or regular
                soda)</p>
            <p>• 4 to 5 jellybeans or sugary candies</p>
            <p>• Wait 15 minutes and then retest blood glucose. If not about 70
                mg/dl or 3.9 mmol/L, repeat the process until blood glucose is above 70
                mg/dl or 3.9 mmol/L</p>
            <p>High Blood Glucose：</p>
            <p>• People with type 2 diabetes should drink water and if possible take
                a walk or try some other form of exercise</p>
            <p>• People with type 1 diabetes with blood glucose over 240 mg/dl, or
                13.3 mmol/L per litre should frst check their urine for ketones,</p>
            <p>if possible before exercising to try to lower their blood glucose. If
                ketones are present, they should not exercise as this can cause blood
                glucose levels to go even higher</p>
            <p>Resources：https://www.idfdiabeteschool.org</p>
        </div>
    </div>
{% endblock %}