{% extends 'base.html' %}
{% block content %}
    <div class="row clearfix"
         style="height:800px;margin-top:150px;background:linear-gradient(to bottom, rgba(27, 101, 185, 0.3), rgba(27, 101, 185, 0));">
        <div class="container" style="">
            <p>In fact, diabetes has always been considered as a disease of physical
                and mental interaction in the medical community. Psychological reasons
                play an important role in the occurrence, development and outcome of
                diabetes. Even some psychological reasons are one of the causes of
                diabetes. Moreover, diabetes patients have more or less negative
                emotions such as depression and anxiety, which aggravate the disease of
                patients. Therefore, in recent years, psychological nursing has
                attracted more and more attention from relevant medical workers, but
                there is no systematic and effective psychological nursing in China.
                Therefore, our website has opened an online psychological forum for
                people with diabetes, in which diabetes patients can exchange their
                disease resistance experience and share their disease resistance life.In
                addition, we opened the diabetes psychological consultation channel. As
                one of the "Top 100 Chinese Psychological Committee Members",I have
                established the Aspirin Psychological Workshop at Xi'an Jiaotong
                University.All diabetes patients can call the psychological hotline or
                follow the official account online psychological consultation.</p>
            <p>Hotline：+86 18792664849</p>
            <p>E-mail：18792664849@163.com</p>
            <p><img src="{{ url_for('static',filename='/media/APRU心理/image1.jpeg') }}"
                    style="width:5.72292in;height:4.29167in"
                    alt="513cccQ016b0c64f9910e479902b5f02"/><img
                    src="{{ url_for('static',filename='/media/APRU心理/image2.jpeg') }}"
                    style="width:5.76597in;height:3.97153in"
                    alt="554c9e1139d8d93424931856023441b"/><img
                    src="{{ url_for('static',filename='/media/APRU心理/image3.jpeg') }}"
                    style="width:5.76181in;height:4.32014in"
                    alt="a28ea8640a97de1cd88c9bf2a38e406"/><img
                    src="{{ url_for('static',filename='/media/APRU心理/image4.jpeg') }}"
                    style="width:5.72292in;height:4.29167in"
                    alt="47391b15eb03f258a3481d488e156c8"/><img
                    src="{{ url_for('static',filename='/media/APRU心理/image5.jpeg') }}"
                    style="width:5.725in;height:3.81667in" alt="IMG_5076"/></p>

        </div>
    </div>
{% endblock %}