{% extends 'article/articleBase.html' %}
{% block article_content %}
    <p>Individual antidiabetic drugs and diabesity</p>
    <p><img src="{{ url_for('static', filename='/media/Individual/image1.png') }}"
            style="width:5.76042in;height:1.75903in"/></p>
    <ol type="1">
        <li><p>Insulin</p>
            <p>The cellular actions of insulin begin with the binding of insulin
                molecule to the hetero-tetrameric insulin receptors on the target cell
                membranes. At higher plasma insulin concentrations, downregulation of
                insulin receptors on cell membranes occur. Lower proportion of receptors
                per unit area of cell membrane necessitates higher insulin levels for
                adequate insulin action in this situation, a mechanism of
                hyperinsulinemia in the insulin resistant states.</p>
            <p>Being an anabolic hormone, insulin causes weight gain through
                inhibition of protein catabolism, stimulation of lipogenesis, slowing of
                basal metabolism and increase in accumulation of fat. Weight gain is
                also a consequence of reduced protein catabolism that increases the lean
                body mass. Endogenous insulin produced by pancreas reaches liver through
                the portal vein and undergoes first pass hepatic metabolism. This
                suppresses the hepatic gluconeogenesis while exogenously administered
                insulin reaches muscles and adipose tissues disproportionately compared
                to endogenous insulin which has more effect on the liver. Regaining of
                the lost weight by correction of glycosuria, osmotic diuresis (from
                uncontrolled diabetes) and catabolism with insulin administration are
                the other causes of weight gain in diabetes. All these factors
                contribute to significant weight gain in patients requiring insulin
                treatment.</p>
            <p><img src="{{ url_for('static', filename='/media/Individual/image2.png') }}"
                    style="width:5.76458in;height:3.60208in"/></p></li>
    </ol>
    <p>2.Metformin</p>
    <p>Anti-diabesity effect of metformin results from inhibition of hepatic
        gluconeogenesis, improvement of peripheral tissue (muscle) insulin
        sensitivity, and the anorexiant effect in users. The exact mechanisms of
        actions of metformin are incompletely understood. The proposed
        mechanisms are: inhibition of mitochondrial respiratory chain and cyclic
        AMP production with reduced activation of protein kinase A, and
        mitochondrial glycerophosphate dehydrogenase; activation of adenosine
        monophosphate (AMP)-activated protein kinase (AMPK); and possibly the
        effects on gut microbiome.</p>
    <p>3.Thiazolidinediones</p>
    <p>These anti-diabetic medications act as insulin-sensitizers and are
        often used as second line drugs to manage T2DM.These drugs bind to the
        peroxisome-proliferator–activated receptor gamma (PPARγ) to exert the
        anti-diabetic effects. PPARγ is widely expressed in adipose tissues, and
        also in the liver, skeletal and smooth muscles, endothelial cells of
        renal vasculature, heart and the gut. Insulin sensitizing action of
        thiazolidinedione is thought to occur directly through promotion of
        fatty acid uptake and storage in the adipose tissues, and indirectly by
        alterations in adipokine release, both of which modulate insulin
        sensitivity outside the adipose tissues such as liver, skeletal muscles
        and possibly pancreatic beta cells.</p>
    <p>4. Glucagon like peptide-1 (GLP-1) receptor agonists</p>
    <p>The incretin hormone GLP-1is produced by the entero-endocrine cells
        of mammalian gastrointestinal tract mainly in the ileum in response to
        food intake and controls the feeding behaviour through central and
        peripheral mechanisms. GLP-1 also controls glucose homeostasis through
        its actions on islet cells of pancreas and many other tissues including
        gastrointestinal tract, liver and brain. GLP-1 receptor (GLP-1R) is a
        G-protein-coupled receptor (GPCR) and its stimulation results in insulin
        release from pancreatic beta cells and suppression of glucagon release
        from alpha cells. Endogenously produced GLP-1 possesses very short
        biological half-life and is degraded by an enzyme called dipeptidyl
        peptidase-4 (DPP-4). To overcome this drawback GLP-1R agonists (GLP-1RA)
        were artificially developed by various pharmaceutical companies that
        mimic the endogenous GLP-1 but resist the enzymatic degradation by
        DPP-4. Positive modulation of pancreatic GLP-1R byGLP-1RAs results in
        inhibition of glucagon secretion and stimulation of insulin secretion in
        a glucose-dependent manner.</p>
    <p><img src="{{ url_for('static', filename='/media/Individual/image3.png') }}"
            style="width:5.7625in;height:4.06042in"/></p>
    <p>5. Dipeptidyl Peptidase-4 (DPP-4) inhibitors</p>
    <p>These incretin enhancers act by the inhibition of DPP-4 enzyme that
        degrades GLP-1 and glucose-dependent insulinotropic polypeptide (GIP),
        and thereby maintaining the levels of active form of these incretin
        hormones . Active GLP-1 and GIP stimulate glucose-dependent pancreatic
        insulin response, and GLP-1 also suppresses glucagon release, delays
        gastric emptying, and increases satiety.</p>
    <p>6. Sodium glucose cotransporter 2 (SGLT-2) inhibitors</p>
    <p>Currently available SGLT-2 inhibitors are dapagliflozin,
        canagliflozin, empagliflozin, ertugliflozin, tofogliflozin and
        ipragliflozin although several other molecules are in various stages of
        development. These drugs can either be used as monotherapy or preferably
        as add-on therapy with other antidiabetic medications.</p>
    <p><img src="{{ url_for('static', filename='/media/Individual/image4.png') }}"
            style="width:4.52986in;height:3.42014in"/></p>
    <p>7. Amylin analogues</p>
    <p>Amylin (Islet amyloid polypeptide; IAPP) is another polypeptide
        hormone secreted by the pancreatic beta cells along with insulin. Amylin
        is involved in the regulation of insulin and glucagon secretion form
        pancreas and has got anorectic effects. Pramlintide is a synthetic
        amylin analogue that is used with insulin in patients with T1DM to
        improve the metabolic control.</p>
    <p>8. α-glucosidase inhibitors</p>
    <p>α-glucosidase is a brush border enzyme in the small intestinal
        epithelium that cleaves monosaccharides from dietary polysaccharides
        such as starch and enhances their absorption. Therefore, α-glucosidase
        inhibitors reduce carbohydrate absorption from the intestine. Acarbose,
        voglibose and miglitol are the three molecules among this medication
        class available in the global drug market. HbA1c reduction of −0.55%,
        2-h postprandial glucose reduction of −3.0 mmol/L and bodyweight
        reduction of −0.63 kg in comparison to placebo were observed with the
        use of these agents in a recent meta-analysis, all factors favouring
        diabesity management.</p>
    <p>9. Sulphonylureas</p>
    <p>Sulfonylurea receptors (SUR) are atypical ATP-binding cassette
        proteins that regulate the activity of potassium ATP channels [K(ATP)]
        expressed widely in nearly all tissues that couple cellular energy
        status and membrane potential.</p>
    <p>10. Meglitinides</p>
    <p>These drugs act on pancreatic β-cells in the similar manner as
        sulfonylureas with a weaker affinity and easily dissociate from the SUR.
        Repaglinide and nateglinide are the two drug molecules available in this
        group. These agents can be used as monotherapy and also to control
        predominantly postprandial hyperglycaemia as an add-on therapy to other
        antidiabetic medications.</p>
    <p><img src="{{ url_for('static', filename='/media/Individual/image5.png') }}"
            style="width:5.76458in;height:4.18125in"/></p>
    <p>[1] Pappachan JM, Fernandez CJ, Chacko EC. Diabesity and antidiabetic
        drugs. Mol Aspects Med. 2019 Apr;66:3-12. doi:
        10.1016/j.mam.2018.10.004. Epub 2018 Nov 16. PMID: 30391234.</p>
{% endblock %}