{% extends 'personCenterForm/formBase.html' %}
{% block form %}
    <div class="row align-items-center" style="display:flex;justify-content: center;align-items: center;">
        <div class="col-lg-6" style="width:1000px">
            <div class="single_login" style="background-color:white;margin-top:50px;">
                <div class="login-title">
                    <h3>Daily reminder</h3>
                </div>
                <div class="login-text">
                    <p>Please input your daily reminder</p>
                    {% for message in get_flashed_messages() %}
                        {% if message %}
                            <div style="color:red">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <form id="questionForm" role="form" action="/objectivesForm" method="post" novalidate>
                        <div class="col-lg-12">
                            <div class="form_box">
                                <label for="medicalAdvice">medicalAdvice</label>
                                <textarea id="medicalAdvice"
                                          name="medicalAdvice" rows="7"
                                          {% if medicalAdvice %}readonly{% endif %}
                                          placeholder="Please input your medicalAdvice">{{ medicalAdvice }}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form_box">
                                <label for="managementObjectives">managementObjectives</label>
                                <textarea id="managementObjectives"
                                          name="managementObjectives" rows="7"
                                          {% if managementObjectives %}readonly{% endif %}
                                          placeholder="Please input your managementObjectives">{{ managementObjectives }}</textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-submit"
                                 style="display:flex;justify-content: center;align-items: center;">
                                <button type="submit" class="submitBTN">Submit</button>
                                <button type="button" onclick="clearForm()" class="clearBTN">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}