{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top:150px">
        <p class="text-left">In fact, diabetes has always been considered as a disease of physical
            and mental interaction in the medical community. Psychological reasons
            play an important role in the occurrence, development and outcome of
            diabetes. Even some psychological reasons are one of the causes of
            diabetes. Moreover, diabetes patients have more or less negative
            emotions such as depression and anxiety, which aggravate the disease of
            patients. Therefore, in recent years, psychological nursing has
            attracted more and more attention from relevant medical workers, but
            there is no systematic and effective psychological nursing in China.
            Therefore, our website has opened an online psychological forum for
            people with diabetes, in which diabetes patients can exchange their
            disease resistance experience and share their disease resistance life.In
            addition, we opened the diabetes psychological consultation channel. As
            one of the "Top 100 Chinese Psychological Committee Members",I have
            established the Aspirin Psychological Workshop at Xi'an Jiaotong
            University.All diabetes patients can call the psychological hotline or
            follow the official account online psychological consultation.</p>
        <p class="text-left">Hotline：+86 18792664849</p>
        <p class="text-left">E-mail：18792664849@163.com</p>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{ url_for('static', filename='/media/APRU心理/image1.jpeg') }}"
                         style="width: 100%; height: auto;"
                         alt="513cccQ016b0c64f9910e479902b5f02"/>
                </div>
                <div class="col-sm-6">
                    <img src="{{ url_for('static', filename='/media/APRU心理/image2.jpeg') }}"
                         style="width: 100%; height: auto;"
                         alt="554c9e1139d8d93424931856023441b"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{ url_for('static', filename='/media/APRU心理/image3.jpeg') }}"
                         style="width: 100%; height: auto;"
                         alt="a28ea8640a97de1cd88c9bf2a38e406"/>
                </div>
                <div class="col-sm-6">
                    <img src="{{ url_for('static', filename='/media/APRU心理/image4.jpeg') }}"
                         style="width: 100%; height: auto;"
                         alt="47391b15eb03f258a3481d488e156c8"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{ url_for('static', filename='/media/APRU心理/image5.jpeg') }}"
                         style="width: 100%; height: auto;"
                         alt="IMG_5076"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}