{% extends 'base.html' %}
{% block content %}
    <script>
        function clearForm() {
            document.getElementById("questionForm").reset();
        }
    </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form id="questionForm" role="form" action="/ask" method="post">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="example:Diabetes rehabilitation"
                               {% if title %}value="{{ title }}"{% endif %} {% if title %}readonly{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="question">Question</label>
                        <textarea class="form-control" id="question" name="question" rows="7"
                                  placeholder="Please input your question"
                                  {% if question %}readonly{% endif %}>{{ question }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
                </form>
                {% if message %}
                    <div class="alert alert-success mt-3">
                        {{ message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}