<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container" style="width:100%;">
    <div class="row clearfix">
        <div class="col-md-12 column"
             style="background:linear-gradient(to bottom, rgb(27, 101, 185), rgba(27, 101, 185, 1));position:fixed;z-index:1000;height:150px;">
            <ul class="nav nav-tabs" style="height:150px;">
                <li class="active" style="height:150px;width:150px;color:">
                    <div class="centered-text" style="background-color:rgb(96,166,232);border-radius:20px;height:130px"
                         id="homeHover">
                        <a class="centered-text" href="/index"
                           style="height:140px;width:140px;font-size:30px;color:white">Home</a>
                    </div>
                </li>
                <li style="height:150px;width:150px;margin-left:20px;">
                    <div class="centered-text" style="border-radius:20px;height:130px;margin-left:20px" id="forumHover">
                        <a class="centered-text" style="height:140px;width:140px;font-size:30px;color:white"
                           href="/forum">Forum</a>
                    </div>
                </li>
                <li style="height:150px;width:150px;margin-left:20px;">
                    <div class="centered-text" style="border-radius:20px;height:130px;" id="InfoHover">
                        <a class="centered-text" style="height:140px;width:140px;font-size:30px;color:white"
                           href="/info">Information</a>
                    </div>
                </li>
                <li style="height:150px;width:150px;color:margin-left:20px;">
                    <div class="centered-text" style="border-radius:20px;height:130px;margin-left:20px"
                         id="consultHover">
                        <a class="centered-text" style="height:140px;width:140px;font-size:30px;color:white"
                           href="/consult">Consult</a>
                    </div>
                </li>
                <li class="dropdown pull-right" style="height:150px;width:150px;">
                    <div class="centered-text" style="border-radius:20px;height:130px;" id="accountHover">
                        <a class="centered-text" style="height:140px;width:140px;font-size:30px;color:white" href="#"
                           data-toggle="dropdown">Account<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/register">Register</a>
                            </li>
                            <li>
                                <a href="/personCenter">Personal center</a>
                            </li>
                            <li>
                                <a href="/relateUs">About us</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% block content %}{% endblock %}


<footer class="footer">
    <div class="container text-center">
        <hr class="mb-3">
        <p class="text-danger">本网站仅供APRU项目展示</p>
        <p class="text-muted">制作者: XJTUer</p>
    </div>
</footer>

</body>

<style>
    button:focus {
        border: none;
    }

    .centered-text {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .centered-text.open {
        background-color: rgb(96, 166, 232);
    }
</style>
</html>