{% extends 'base.html' %}
{% block content %}
    <script src="../static/script/forum.js"></script>
    <link rel="stylesheet" href="../static/css/forum.css" type="text/css" media="all">
    <div class="container">
        <h1 style="margin-top:150px;margin-left:30px;">Think what you think, answer what you ask.</h1>
        <div class="forum-container">

            <div class="left_row">
                <div class="navi-forum"></div>
                <div class="forum-info">
                    {% for question in questions %}
                        <div class="forum-msg">
                            <div class="photo-and-name">
                                <div class="photo">
                                    <img src="../static/image/bootstrap-icon/person-fill.svg"
                                         style="width:50px;height:50px;" alt="" loading="lazy">
                                </div>
                                <div class="name">Somebody</div>
                            </div>
                            <div class="content">
                                <div class="title">{{ question.title }}</div>
                                <div class="text" id={{ question.id }}>{{ question.question }}</div>
                                <div class="tip">
                                    <a id="tips" class="showMore" onclick="expand(this,{{ question.id }})">Show more</a>
                                </div>
                                <div class="otherItem">
                                    <a href="/question{{ question.id }}" class="check-answer">View answers</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="right_row">
                <div class="news-info">
                </div>
            </div>
        </div>
    </div>


{% endblock %}