{% extends 'base.html' %}
{% block content %}
    <div class="row clearfix"
         style="display: flex; justify-content: center;background:linear-gradient(to bottom, rgba(27, 101, 185,0.5), rgba(27, 101, 185, 0));">
        <div class="col-md-12 column" style="width:90%;margin-top:150px">
            <div class="carousel slide" id="carousel-216063">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-216063" class="active">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-216063">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-216063">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="../static/banner/banner1.png"/>
                    </div>
                    <div class="item">
                        <img alt="" src="../static/banner/banner1.png"/>
                    </div>
                    <div class="item active">
                        <img alt="" src="../static/banner/banner1.png"/>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-216063" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                href="#carousel-216063"
                                                                                data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <dl class="dl-horizontal">
                <dt>
                    <p></p>
                </dt>
                <dd>
                    <p></p>
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    Welcome to our diabetes website! We are dedicated to providing comprehensive and practical
                    information and support for individuals with diabetes and those who care about diabetes. Whether you
                    have recently been diagnosed with diabetes or have been living with it for many years, our website
                    will serve as a valuable resource and community for you.
                </dd>

            </dl>
        </div>
    </div>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3);background-color=rgba(27, 101, 185, 0.2);" width="80%"
        SIZE=3>
    <div class="row clearfix"
         style="display: flex; justify-content: center;background:linear-gradient(to bottom, rgba(27, 101, 185,0), rgba(27, 101, 185, 0));">
        <div class="col-md-6 column">
            <h2>
                Forum
            </h2>
            <p>
                Our forum is an open platform for diabetes patients and individuals interested in diabetes to interact,
                share experiences, and provide support. On the forum, you can ask questions, seek advice, or share your
                stories and success with other members. We encourage healthy and constructive discussions to promote
                knowledge sharing and mutual assistance.
            </p>
            <p>
                <a class="btn" href="/forum">View details »</a>
            </p>
        </div>
        <div class="col-md-6 column">
            <h2>
                Personal Center
            </h2>
            <p>
                The Personal Center is your personal space on our website, offering personalized features and services.
                You can use the Personal Center to record and track your blood glucose levels, medication usage, dietary
                habits, and other diabetes management-related data. Additionally, you can set personal goals and utilize
                reminder features to help you remember important tasks such as checking blood glucose levels and taking
                medication. The Personal Center also provides expert advice, health articles, and customized
                recommendations to assist you in better managing diabetes and improving your quality of life.
            </p>
            <p>
                <a class="btn" href="/personCenter">View details »</a>
            </p>
        </div>
    </div>
    <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
    <p class="bi-chat-left-text">Whether you are seeking information, support, or a platform to share your experiences,
        our diabetes website will be your reliable companion. Join our community, face challenges together, and strive
        for health and happiness!</p>
{% endblock %}