{% extends 'base.html' %}
{% block content %}

    <div class="container" style="margin-top:150px">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="container">
                    <h1>Daily Reminder</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>TODO-{{ reminder_data[0].datetime }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in reminder_data %}
                            <tr>
                                <td>{{ item.reminder }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 column">
                <div class="container">
                    <h1>Daily Data</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Blood glucose</th>
                            <th>Composition of Diet</th>
                            <th>Amount of exercise</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in daily_data %}
                            <tr>
                                <td>{{ item.blood_glucose }}</td>
                                <td>{{ item.amount_of_exercise }}</td>
                                <td>{{ item.composition_of_Diet }}</td>
                                <td>{{ item.datetime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}